# Python dependencies for annotation_lambda 

# Annotation Lambda Function Dependencies
# AWS SDK
boto3
# botocore will be installed as a dependency of boto3 with a compatible version

# Google AI
google-generativeai==0.7.0
# google-api-core, google-auth, requests, urllib3, certifi, charset-normalizer, idna
# will be installed as dependencies of google-generativeai with compatible versions.

# Database
mysql-connector-python

# File Type Detection
python-magic==0.4.27  # For MIME type detection on Linux Lambda 